backend/api/__pycache__
backend/venv
backend/api/migrations/__pycache__
.venv
frontend/coverage/
**/__pycache__/
backend/venv/
.venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
