backend/api/__pycache__
backend/venv
backend/api/migrations/__pycache__
backend/myproject/__pycache__
backend/tests/__pycache__
.venv
frontend/coverage/
**/__pycache__/
backend/venv/
backend/api/metrics/venv
.venv

.env
myenv/
node_modules
