
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 100px 70px;

}

.hero-heading {
    /* Target fraud detection bias at the source. */

    width: 738px;
    height: 300px;
    margin: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;

    color: #000000;
    

}

.hero-body {
    /* Some sort of subtitle text here. Check out our handy guide ↓ if you need any help! */

    width: 718px;
    height: 100px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 42px;

    color: #000000;
    margin: 0; 
    margin-bottom: 25px; 

}