@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html, body {
  margin: 0; 
}

.MainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes full height */
  background-image: url('PurpleGradient.png');
}

.flex-container {
  display: flex;
  gap: 90px;
  width: 100vh;
  margin-top: 0;
  margin-bottom: 140px;
}

img {
  width: 60%;
  height: auto;
}

