@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html, body {
  margin: 0; 
}

.MainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes full height */
  background-image: url('PurpleGradient.png');
}

.footer {
  margin-left: auto; 
  margin-right: auto;
}

/* .message {
  font-family: 'Montserrat';
  padding-left: 50px; 
  font-size: 18px;
  color: #ff1b1b; 
} */
