@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html {
	margin: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

section {
	min-height: 100vh;
}

#graph-image {
	width: 60%;
	height: auto;
}

#down-arrow {
	width: 79%;
	height: auto;
}

.arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.process-container {
	margin-left: 70px;
	margin-right: 70px;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../assets/PurpleGradient.png');
  background-repeat: no-repeat;
}

.flex-container {
	display: flex;
	gap: 90px;
	width: 100vh;
	padding-top: 20vh;
	padding-bottom: 20vh;
}
.message {
	font-family: "Montserrat";
	padding-left: 50px;
	font-size: 18px;
	color: #ff1b1b;
}
