body, html {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    width: 100vw;
    background-color: #F9FFFB;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

button.attributeButton {
    color: white;
    background: #9921D2E5;
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    width:150px;
    align-self: "center";
    font-weight: 600;
}

.attributeSelection {
    background: #E6EEF5;
    padding: 25px;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 0px 4px 4px lightgrey;
    width: 40%;
}

.filename {
    color: #6820EA;
    font-weight: bold;
}

.actionText {
    font-size: 10em;
}

.bucketUrlInput {
    height: 50px;
    width: 400px;
    background-color: #E6EEF5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 3px 3px lightgrey;
    padding: 0 60px;
    background-image: url('linkIcon.png');
    background-position: 20px 18px; 
    background-size: 20px ;
    background-repeat: no-repeat;
}

.bucketUrlInput::placeholder {
    font-style: italic;
    color: #979797;
    font-family: 'Montserrat';
}